meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

// Bootstrap 5.0.2 import
link(
	href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css',
	rel='stylesheet',
	integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC',
	crossorigin='anonymous'
)

// Custom CSS
link(rel='stylesheet', href='/css/style.css')

// METAS
meta(
	name='description',
	content='The Minecraft API is a free closed-source API with all the information you\'ll ever need on anything from items, to blocks, to dimensions and more!'
)
meta(
	name='keywords',
	content='minecraft, rest api, api, restful api, restapi, minecraft api, mc, mc api'
)
meta(name='author', content='The Minecraft API')
title MC API
