<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include("../partials/head.ejs") %>
		<title>MC API</title>
	</head>
	<body>
		<%- include("../partials/nav.ejs") %>
		<div class="container p-3 bg-light" style="overflow: auto">
			<!-- header image -->
			<div class="col-md-3 col-12">
				<img
					class="w-100 h-auto float-start me-3 pb-3 pb-md-0"
					src="<%= block.imageUrl %>"
					alt="<%= block.minecraftName %>"
					width="8"
					height="8"
				/>
			</div>

			<div class="row">
				<!-- Title / header -->
				<div class="col-12 text-center text-md-start">
					<h1 class="mb-0"><%= block.name %></h1>
					<p class="mb-3 fst-italic">
						<%= block.legacyID %> — <%= block.minecraftName %>
					</p>
				</div>

				<!-- SPAWNS IN _ DIMENSIONS -->
				<div class="col-12 mb-3">
					<h2>Natural spawn dimensions:</h2>
					<div class="col-12">
						<code class="text-dark"
							><b>Overworld</b>: <%=
							block.naturalSpawns["naturalSpawnInOverworldDimension"] %></code
						>
					</div>
					<div class="col-12">
						<code class="text-dark"
							><b>Nether</b>: <%=
							block.naturalSpawns["naturalSpawnInNetherDimension"] %></code
						>
					</div>
					<div class="col-12">
						<code class="text-dark"
							><b>End</b>: <%= block.naturalSpawns["naturalSpawnInEndDimension"]
							%></code
						>
					</div>
				</div>

				<!-- Stats -->
				<div class="col-12 mb-3">
					<h2>Statistics</h2>
                    <div class="col-12">
                        <code class="text-dark"><b>solidity</b>: <%= block.solidity %></code>
                    </div>
					<% Object.keys(block.stats).forEach(stat => { %>
					<div class="col-12">
						<code class="text-dark"><b><%= stat %></b>: <%= block.stats[stat] %></code>
					</div>
					<% }) %>
					<!-- <pre><%= JSON.stringify(block.stats, null, 4) %></pre> -->
				</div>

				<!-- Hitbox dimensions -->
				<div class="col-12 mb-3">
					<h2>Hitbox Dimensions</h2>
					<div class="col-12">
						<code class="text-dark"><b>Height</b>: <%= block.hitbox.height %></code>
					</div>
					<div class="col-12">
						<code class="text-dark"><b>Width</b>: <%= block.hitbox.width %></code>
					</div>
					<div class="col-12">
						<code class="text-dark"><b>Length</b>: <%= block.hitbox.length %></code>
					</div>
				</div>

				<!-- Drops -->
				<div class="col-12 mb-3">
					<h2>Drops</h2>
                    <% Object.keys(block.drops).forEach(drop => { %>
					<div class="col-12">
						<code class="text-dark"><b><%= drop %></b>: <%= block.drops[drop] %></code>
					</div>
					<% }) %>
				</div>

				<!-- Tool Data -->
				<div class="col-12">
					<h2>Breaking Speed</h2>
					<% Object.keys(block.toolData).forEach(object => { %>
					<div class="col-12 mb-3">
						<code class="text-dark fs-5">
							<b><%= block.toolData[object].tool.substring(1, -1).toUpperCase() +
							block.toolData[object].tool.slice(1) %></b>
						</code>
                        <% Object.keys(block.toolData[object].breakSpeed).forEach(type => { %>
                        <div class="col-12">
                            <code class="text-dark"><b><%= type %></b>: <%= block.toolData[object].breakSpeed[type] + "seconds" %></code>
                        </div>
                        <% }) %>
					</div>
					<% }) %>
				</div>

                <!-- Experience -->
                <div class="col-12 mb-3">
                    <h2>Experience on break</h2>
                    <div class="col-12">
                        <code class="text-dark"><b>Minimum</b>: <%= block.minimumExperienceOnBreak %></code>
                    </div>
                    <div class="col-12">
                        <code class="text-dark"><b>Maximum</b>: <%= block.maximumExperienceOnBreak %></code>
                    </div>
                </div>
			</div>
		</div>
		<%- include("../partials/footer.ejs") %>
	</body>
</html>
