<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include("./partials/head.ejs") %>
		<title>MC API</title>
	</head>
	<body>
		<%- include("./partials/nav.ejs") %>
		<div class="container bg-light py-5 text-center">
			<!-- JUMBOTRON -->
			<img
				class="w-25 h-auto"
				src="<%= block.imageUrl %>"
				alt="<%= block.minecraftName %>"
				width="8"
				height="8"
			/>
			<h1 class="mb-0"><%= block.name %></h1>
			<p class="mb-3 fst-italic">
				<%= block.legacyID %> — <%= block.minecraftName %>
			</p>

			<!-- SPAWNS IN _ DIMENSIONS -->
			<div class="row">
				<h2><%= block.name %> spawns naturally in dimension:</h2>
				<% Object.keys(block.naturalSpawns).forEach(function(name) { %>
				<div class="col-md-4 text-center mb-3">
					<code><%= name %>: <%= block.naturalSpawns[name] %></code>
				</div>
				<% }) %>
			</div>

			<!-- JSON DATA -->
			<h2 class="mb-0">JSON Data</h2>
			<pre class="bg-dark text-light p-3 text-start">
<%= JSON.stringify(block, null, 2) %></pre
			>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>
