<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include("./partials/head.ejs") %>
		<title>MC API</title>
	</head>
	<body>
		<%- include("./partials/nav.ejs") %>
		<div class="sebm-content-inner">
			<div class="container p-3 bg-light" style="overflow: auto">
				<!-- header image -->
				<div class="col-md-3 col-12">
					<img
						class="w-100 h-auto float-start me-3 pb-3 pb-md-0"
						src="<%= block.imageUrl %>"
						alt="<%= block.minecraftName %>"
						width="8"
						height="8"
					/>
				</div>
				<div class="row">
					<!-- Title / header -->
					<div class="col-12 text-center text-md-start">
						<h2 class="mb-0"><%= block.name %></h2>
						<p class="mb-2 fst-italic">
							<%= block.legacyID %> — <%= block.minecraftName %>
						</p>
					</div>

					<!-- Edit button for developers -->
					<% if (session.authorized) { %>
					<div class="wrapper text-center mb-3">
						<!-- Desktop View -->
						<a
							href="/dashboard/edit_block/<%= block.minecraftName.slice(10) %>"
							type="button"
							class="
								rounded-0
								btn btn-outline-success
								w-25
								ms-2
								d-none d-md-block
							"
							>Edit Block</a
						>

						<!-- Mobile View -->
						<a
							href="/dashboard/edit_block/<%= block.minecraftName.slice(10) %>"
							type="button"
							class="
								rounded-0
								btn btn-outline-success
								w-50
								mx-2
								d-md-none
							"
							>Edit Block</a
						>
					</div>
					<% } %>
					<!-- SPAWNS IN _ DIMENSIONS -->
					<div class="col-12 mb-3">
						<h3>Natural spawn dimensions:</h3>
						<div class="col-12">
							<code class="text-dark"
								><b>Overworld</b>: <%=
								block.naturalSpawns["naturalSpawnInOverworldDimension"]
								%></code
							>
						</div>
						<div class="col-12">
							<code class="text-dark"
								><b>Nether</b>: <%=
								block.naturalSpawns["naturalSpawnInNetherDimension"]
								%></code
							>
						</div>
						<div class="col-12">
							<code class="text-dark"
								><b>End</b>: <%=
								block.naturalSpawns["naturalSpawnInEndDimension"]
								%></code
							>
						</div>
					</div>
					<!-- Stats -->
					<div class="col-12 mb-3">
						<h3>Statistics</h3>
						<div class="col-12">
							<code class="text-dark"
								><b>solidity</b>: <%= block.solidity %></code
							>
						</div>
						<% Object.keys(block.stats).forEach(stat => { %>
						<div class="col-12">
							<code class="text-dark"
								><b><%= stat %></b>: <%= block.stats[stat]
								%></code
							>
						</div>
						<% }) %>
						<!-- <pre><%= JSON.stringify(block.stats, null, 4) %></pre> -->
					</div>
					<!-- Hitbox dimensions -->
					<div class="col-12 mb-3">
						<h3>Hitbox Dimensions</h3>
						<div class="col-12">
							<code class="text-dark"
								><b>Height</b>: <%= block.hitbox.height %></code
							>
						</div>
						<div class="col-12">
							<code class="text-dark"
								><b>Width</b>: <%= block.hitbox.width %></code
							>
						</div>
						<div class="col-12">
							<code class="text-dark"
								><b>Length</b>: <%= block.hitbox.length %></code
							>
						</div>
					</div>
					<!-- Drops -->
					<div class="col-12 mb-3">
						<h3>Drops</h3>
						<% Object.keys(block.drops).forEach(drop => { %>
						<div class="col-12">
							<code class="text-dark"
								><b><%= drop %></b>: <%= block.drops[drop]
								%></code
							>
						</div>
						<% }) %>
					</div>
					<!-- Tool Data -->
					<% if (block.toolData.length > 0) { %>
					<div class="col-12">
						<h3>Breaking Speed</h3>
						<% Object.keys(block.toolData).forEach(object => { %>
						<div class="col-12 mb-3">
							<code class="text-dark fs-5">
								<b
									><%=
									block.toolData[object].tool.substring(1,
									-1).toUpperCase() +
									block.toolData[object].tool.slice(1) %></b
								>
							</code>
							<%
							Object.keys(block.toolData[object].breakSpeed).forEach(type
							=> { %>
							<div class="col-12">
								<code class="text-dark"
									><b><%= type %></b>: <%=
									block.toolData[object].breakSpeed[type] + "
									seconds" %></code
								>
							</div>
							<% }) %>
						</div>
						<% }) %>
					</div>
					<% } %>

					<!-- Experience -->
					<div class="col-12 mb-3">
						<h3>Experience on break</h3>
						<div class="col-12">
							<code class="text-dark"
								><b>Minimum</b>: <%=
								block.minimumExperienceOnBreak %></code
							>
						</div>
						<div class="col-12">
							<code class="text-dark"
								><b>Maximum</b>: <%=
								block.maximumExperienceOnBreak %></code
							>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>
