<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include("./partials/head.ejs") %>
		<title>MC API</title>
	</head>
	<body>
		<%- include("./partials/nav.ejs") %>
		<!-- Desktop view -->
		<div class="d-none d-md-block container bg-light">
			<div class="row">
				<% blocks.forEach(block => { %>
				<div class="card col-3 rounded-0">
					<div class="card-body my-2">
						<a href="/blocks/<%= block.minecraftName.slice(10) %>">
							<img
								src="<%= block.imageUrl %>"
								alt="<%= block.minecraftName %>"
								height="8"
								width="8"
								class="w-100 h-auto float-start mb-2"
							/>
						</a>
						<p class="fs-4 card-title m-0 py-2">
							<b><%= block.name %></b>
							<small class="card-text fst-italic">
								<%= block.legacyID %>
							</small>
							<br />
							<small class="card-text text-muted fs-6">
								<%= block.minecraftName %>
							</small>
						</p>
						<a href="/blocks/<%= block.minecraftName.slice(10) %>">
							<button
								type="button"
								class="rounded-0 btn btn-success"
								>View more</button
							>
						</a>
					</div>
				</div>
				<% }) %>
			</div>
		</div>

		<!-- Mobile view -->
		<div
			class="d-md-none container-fluid bg-light"
			style="overflow: auto; word-wrap: break-word"
		>
			<div class="row">
				<% blocks.forEach(block => { %>
				<a
					href="/blocks/<%= block.minecraftName.slice(10) %>"
					class="text-reset text-decoration-none"
				>
					<div class="col-12 rounded-0">
						<div class="d-flex align-items-center">
							<img
								src="<%= block.imageUrl %>"
								alt="<%= block.minecraftName %>"
								height="8"
								width="8"
								class="float-start me-3"
								style="height: 50px; width: 50px"
							/>
							<p class="fs-4 card-title m-0 py-2">
								<b><%= block.name %></b>
								<small class="card-text fst-italic">
									<%= block.legacyID %>
								</small>
								<br />
								<small class="card-text text-muted fs-6">
									<%= block.minecraftName %>
								</small>
							</p>
						</div>
					</div>
				</a>
				<% }) %>
			</div>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>
