<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include("./partials/head.ejs") %>
		<title>MC API</title>
	</head>
	<body>
		<%- include("./partials/nav.ejs") %>
		<div class="container bg-light py-5">
			<% blocks.forEach(block => { %>
			<div class="block col-md-6 mb-3">
				<img
					src="<%= block.imageUrl %>"
					alt="<%= block.minecraftName %>"
					height="50"
					width="50"
				/>
				<a
					class="text-reset text-decoration-none"
					href="/blocks/<%= block.legacyID; %>"
					><h3><%= block.name %></h3></a
				>
			</div>
			<% }) %>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>
