<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include("../partials/head.ejs") %>
		<title>MC API</title>
	</head>
	<body>
		<%- include("../partials/nav.ejs") %>
		<div class="sebm-content-inner">
			<div class="container-md p-5 bg-light text-dark text-center">
				<% if (session.authorized) { %>
				<!-- Developer specific -->
				<h1>Welcome back, <%= session.userName %></h1>
				<div class="row mt-3">
					<div class="col-12">
						<a
							class="btn btn-success rounded-0 mb-3"
							href="/dashboard/add_block"
							>Add a new block</a
						>
						<a class="btn btn-success rounded-0 mb-3" href="/blocks"
							>View all blocks</a
						>
						<a class="btn btn-success rounded-0 mb-3" href="/logout"
							>Sign out</a
						>
					</div>
				</div>
				<img
					src="<%= session.userImage %>"
					alt="<%= session.userName %>-character"
					width="600"
					height="800"
					class="w-50 h-auto"
				/>
				<% } else { %>
				<!-- LOGIN FORM -->
				<div class="row justify-content-center">
					<div class="col-12 col-md-8">
						<div class="fs-2 col-12 mb-3">Dashboard Login</div>

						<form action="/login" method="post">
							<div class="form-group mb-3">
								<label class="float-start">Developer ID</label>
								<input
									class="form-control rounded-0"
									type="text"
									name="name"
								/>
							</div>
							<div class="form-group mb-3">
								<label class="float-start">Password</label>
								<input
									class="form-control rounded-0"
									type="password"
									name="password"
									i
								/>
							</div>

							<div class="col-12 text-center">
								<button
									type="submit"
									class="
										btn btn-outline-primary
										float-start
										rounded-0
										w-50
									"
									>Submit</button
								>
							</div>
						</form>
					</div>
				</div>
				<% } %>
			</div>
		</div>
		<%- include("../partials/footer.ejs") %>
	</body>
</html>
